<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GuruGourmet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href={% static 'css/styles.css' %}/>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }

    .navbar {
        color: #fff;
        padding: 10px;
    }

    .hero {
        background-color: #ddd;
        color: #333;
        padding: 20px;
        width: 100%;
    }

    .receitas-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inputBox {
        margin-bottom: 10px;
    }

    .inputUser {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
    }

    button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #444;
    }
    .receitas-container fieldset {
        width: 100%;
    }
    textarea {
        width: 1115px;
        height: 80px;
    }
    select {
        width: 1115px;
        height: 80px;
    }
    button:active, button:visited {
    color: inherit;
}
    </style>
</head>
<script>
window.onload = function() {

    var form = document.getElementById('edit_receita_form');
    var selectElement = document.getElementById('ingredientes');

    form.addEventListener('submit', function(event) {
        var titulo = document.getElementById('titulo').value;
        var tempo_preparo = document.getElementById('tempo_preparo').value;
        var texto = document.getElementById('texto').value;
        var image = document.getElementById('image').value;

        if (!titulo || !tempo_preparo || !texto || !image) {
            alert("Todos os campos devem ser preenchidos!");
            event.preventDefault(); // Prevent form submission
            return;
        }
        for (var i = 0; i < selectElement.options.length; i++) {
            selectElement.options[i].selected = true;
        }
    });

    document.getElementById('removeIngrediente').addEventListener('click', removerIngrediente);

    function removerIngrediente() {
        var selectElement = document.getElementById('ingredientes');
        var selectedOptions = selectElement.selectedOptions;

        for (var i = 0; i < selectedOptions.length; i++) {
            selectElement.removeChild(selectedOptions[i]);
        }
    }

    document.getElementById('addIngrediente').addEventListener('click', function() {
    var novoIngrediente = document.getElementById('novoIngrediente').value;
    var quantidade = document.getElementById('quantidade').value;
    var unidadeMedida = document.getElementById('unidadeMedida').value;

    var ingredientesDisponiveis = getListaIngredientes()

    var ingredienteObj = verificarIngrediente(novoIngrediente, ingredientesDisponiveis)

    if (novoIngrediente != null && quantidade != null && unidadeMedida != null && ingredienteObj != null) {
        var selectElement = document.getElementById('ingredientes');
        var option = document.createElement("option");
        option.text = novoIngrediente + " - " + quantidade + " " + unidadeMedida;
        option.value = JSON.stringify({
            "ingrediente_id": ingredienteObj.id,
            "nome": novoIngrediente,
            "quantidade": quantidade,
            "unidadeMedida": unidadeMedida
        });
        selectElement.add(option);
    }
    });

    function getListaIngredientes() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/ingredientes/', false);
    xhr.send();
    if (xhr.status === 200) {
        return JSON.parse(xhr.responseText).lista_ingredientes;
    } else {
        console.log('Erro ao trazer ingredientes');
        return []
    }
}
    function verificarIngrediente(ingrediente, ingredientesDisponiveis) {
        var ingredienteVerificado = null;
        ingredientesDisponiveis.forEach(
            (element) => {
                if (element.nome === ingrediente) {
                    ingredienteVerificado = element
                }
            }
        )
        return ingredienteVerificado
    }
}
</script>
<body>
    <!-- nav -->
    <nav class="navbar">
        <div class="nav-center">
            <!-- header -->
            <div class="nav-header">
                <a href="/receita/create" class="nav-logo">
                    <img src="{% static 'assets/logo.svg'%}" alt="GuruGourm et">
                </a>
                <button type="button" class="btn nav-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>

            </div>
            <!-- links -->
            <div class="nav-links">
                <a href="/.." class="nav-link" id="gg">GuruGourmet</a>
                <div class="nav-link register-link">
                    {% if not user.is_authenticated %}
                        <a href="/cadastro" class="btn"><i class="fa-solid fa-user-plus"></i> Registrar</a>
                        <div class="nav-link login-link">
                        <a href="/login" class="btn"><i class="fa-solid fa-user"></i> Login</a>
                        </div>
                    {% else %}
                        <button class="btn" style="color: white;"><a href="/receita/create">Nova receita</a></button>
                        <a><i class="fa-solid fa-user"></i> {{ user.username }}</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>

    <main class="content">
        <!-- container receitas -->
        <div class="box">
            <section class="receitas-container">
                <!-- menu container-->
                <div class="menu-container">
                    <form action="">
                            <h2>Criar Receita</h2>
                            <form id="addIngredienteForm">
                            <div class="inputBox">
                                <label for="novoIngrediente">Novo Ingrediente:</label>
                                <input type="text" id="novoIngrediente" name="novoIngrediente" class="inputUser" placeholder="Ingrediente">
                            </div><br>
                            <div class="inputBox">
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" id="quantidade" name="quantidade" class="inputUser" placeholder="Quantidade" step="0.01">
                            </div><br>
                            <div class="inputBox">
                                <label for="unidadeMedida">Unidade de Medida:</label>
                                <input type="text" id="unidadeMedida" name="unidadeMedida" class="inputUser" placeholder="Medida">
                            </div>
                                <button type="button" id="addIngrediente">Add Ingrediente</button><br><br>
                            </form>
                            <form id="edit_receita_form" method="post"  enctype="multipart/form-data">
                                {% csrf_token %}

                                <label for="ingredientes">Ingredientes:</label><br>
                                <select id="ingredientes" name="ingredientes" multiple>
                                    {% for ingrediente in listaIngredientes %}
                                        <option value='{"ingrediente_id": "{{ ingrediente.ingrediente_id }}", "quantidade": "{{ ingrediente.quantidade }}", "unidadeMedida": "{{ ingrediente.unidadeMedida }}", "nome": "{{ ingrediente.nome }}"}'>{{ ingrediente.ingrediente.nome }} - {{ ingrediente.quantidade }} {{ ingrediente.unidadeMedida }}</option>
                                    {% endfor %}
                                </select><br>
                                <button type="button" class="btn" id="removeIngrediente">Remover</button><br><br>
                            <div class="inputBox">
                                <label for="titulo">Título:</label><br>
                                <input type="text" id="titulo" name="titulo" value="{{ receita.titulo }}" class="inputUser"><br><br>
                                <label for="tempo_preparo">Tempo de Preparo:</label><br>
                                <input type="text" id="tempo_preparo" name="tempo_preparo" class="inputUser" value="{{ receita.tempo_preparo }}"><br><br>
                                <label for="texto">Texto:</label>
                                <br>
                                <textarea id="texto" name="texto" > {{ receita.texto }}</textarea><br><br>
                                    <div class="inputBox">
                                        <label for="image">Upload Imagem Principal:</label>
                                        <input type="file" id="image" name="image" accept="image/*" class="inputUser">
                                    </div>
                            </div>
                                <button type="submit">Salvar</button>
                            </form>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <footer class="content-footer">
        <p>
            &copy; <span id="data"></span>
            <span class="footer-logo">GuruGourmet</span>
        </p>
    </footer>
    <!-- final footer -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
