<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GuruGourmet</title>    </head>
    <body>

        <header style="background-color: aqua;">
            <h1 style="text-align: center;">Adicionar coisas que o cainã fez</h1>
            <hr>
        </header>
        
        <main>
            <form action="" method="post" enctype="multipart/form-data">
                <h3>Sua receita</h3>
                <label for="file">Escolha uma imagem</label>
                <input type="file" id="file" accept="image/png, image/jpeg"><br>

                <Label for="titulo">Titulo da receita:</Label><br>
                <input type="text" id="titulo"> <br>


                <label for="apresentação">Apresentação da receita</label><br>
                <textarea id="text" rows="3" cols="25"></textarea>

                <h3>Informações da receita</h3>
                <label for="ingredientes">Ingredientes</label><br>
                <textarea id="ingredientes" rows="5" cols="30"></textarea>
                <br>
                <label for="passos">Passo-a-passo</label><br>
                <textarea id="passos" rows="10" cols="30"></textarea>
                <br>
                <input type="reset">
                <button>Enviar receita</button>

            </form>
        </main>




        
        <footer style="background-color: aqua; text-align: center;">
            <hr>
            <h1>Adicionar coisas dos cainã</h1>
        </footer>

    </body>
</html>