<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuruGourmet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <h1>Editar Receita</h1>
    <form id="edit_receita_form" method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" value="{{ receita.titulo }}"><br><br>
        <label for="tempo_preparo">Tempo de Preparo:</label><br>
        <input type="text" id="tempo_preparo" name="tempo_preparo" value="{{ receita.tempo_preparo }}"><br><br>
        <label for="texto">Texto:</label><br>
        <textarea id="texto" name="texto">{{ receita.texto }}</textarea><br><br>
        <label for="ingredientes">Ingredientes:</label><br>
        <select id="ingredientes" name="ingredientes" multiple>
            {% for ingrediente in listaIngredientes %}
            <option value="{{ ingrediente.id }}">{{ ingrediente.nome }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
