<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuruGourmet - Editar Receita</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <!-- nav -->
    <nav class="navbar">
        <div class="nav-center">
            <!-- header -->
            <div class="nav-header">
                <a href="../" class="nav-logo">
                    <img src="{% static 'assets/logo.svg'%}" alt="GuruGourmet">
                </a>
                <button type="button" class="btn nav-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!-- links -->
            <div class="nav-links">
                <a href="../" class="nav-link" id="gg">GuruGourmet</a>
                <div class="nav-link login-link">
                    <a href="/login/" class="btn"><i class="fa-solid fa-user"></i> Login</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- final nav -->
    
    <!-- main -->
    <main class="content">
        <h1 class="edit-receita-title">Editar Receita</h1>
        <form id="edit_receita_form" method="post" class="edit-receita-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" id="titulo" name="titulo" value="{{ receita.titulo }}" class="form-input">
            </div>
            <div class="form-group">
                <label for="tempo_preparo" class="form-label">Tempo de Preparo:</label>
                <input type="text" id="tempo_preparo" name="tempo_preparo" value="{{ receita.tempo_preparo }}" class="form-input">
            </div>
            <div class="form-group">
                <label for="texto" class="form-label">Texto:</label>
                <textarea id="texto" name="texto" class="form-textarea">{{ receita.texto }}</textarea>
            </div>
            <div class="form-group">
                <label for="ingredientes" class="form-label">Ingredientes:</label>
                <select id="ingredientes" name="ingredientes" multiple class="form-select">
                    {% for ingrediente in listaIngredientes %}
                    <option value="{{ ingrediente.id }}">{{ ingrediente.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </main>
    <!-- final main -->

    <!-- footer -->
    <footer class="content-footer">
        <p>
            &copy; <span id="data"></span>
            <span class="footer-logo">GuruGourmet</span>
        </p>
    </footer>
    <!-- final footer -->

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
