<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GuruGourmet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <!-- nav -->
    <nav class="navbar">
        <div class="nav-center">
            <!-- header -->
            <div class="nav-header">
                <a href="../" class="nav-logo">
                    <img src="{% static 'assets/logo.svg'%}" alt="GuruGourmet">
                </a>
                <button type="button" class="btn nav-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <!-- links -->
            <div class="nav-links">
                <a href="../" class="nav-link" id="gg">GuruGourmet</a>
                <div class="nav-link login-link">
                    <a href="./login" class="btn"><i class="fa-solid fa-user"></i> Login</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- final nav -->
    <!-- main -->
    <main class="content">
        <!-- header -->
        <header class="hero">
            <div class="hero-container">
                <div class="hero-text">
                    <h4>CADASTRO</h4>
                    <div class="form-section">
                        <div class="form-section-item">
                            <label for="firstname">Nome</label>
                            <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                        </div>
                        <div class="form-section-item">
                            <label for="lastname">Sobrenome</label>
                            <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-section-item">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                        </div>
                        <div class="form-section-item">
                            <label for="cellphone">Número do Celular</label>
                            <input id="cellphone" type="tel" name="cellphone" placeholder="(DDD) xxxxx-xxxx" required>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-section-item">
                            <label for="password">Nova senha</label>
                            <input id="password" type="password" name="password" placeholder="Digite aqui..." required>
                        </div>
                        <div class="form-section-item">
                            <label for="passwordConfirmation">Confirme a senha</label>
                            <input id="passwordConfirmation" type="password" name="passwordConfirmation" placeholder="Digite aqui..." required>
                        </div>
                    </div>
                    <div class="form-section" id="form-btn">
                        <form id="myForm" onsubmit="return submitForm(event)">
                            <!-- Seus campos de formulário aqui -->
                            <button class="btn" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>        
        <!-- final header-->        
    <!-- footer -->
    <footer class="content-footer">
        <p>
            &copy; <span id="data"></span>
            <span class="footer-logo">GuruGourmet</span>
        </p>
    </footer>
    <!-- final footer -->
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>